@model IEnumerable<InternetPhotoAlbum.MVC.Models.IndexUserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteDialLink btn btn-danger" })
                @Html.ActionLink((item.IsLocked ? "Unlock" : "Lock") + " user", "LockUser",
                    new { id = item.Id }, new { @class = "lockUserDialLink btn btn-warning" })
            </td>
        </tr>
    }
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ajax")

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            $(".deleteDialLink").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".lockUserDialLink").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });

        function OnSuccess(result) {
            if (result.url) {
                window.location.href = result.url;
            }
        }

    </script>
}