@model IEnumerable<InternetPhotoAlbum.BLL.Models.GenderDTO>

@{
    ViewBag.Title = "Genders";
}

<h2>Genders</h2>

<p>
    @Html.ActionLink("Add gender", "Create", new { area = "" }, new { id = "createDialLink", @class = "btn btn-success" })
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "editDialLink  btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteDialLink btn btn-danger" })
            </td>
        </tr>
    }

</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ajax")

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $("#createDialLink").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".editDialLink").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".deleteDialLink").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });

        function OnSuccess(result) {
            if (result.url) {
                window.location.href = result.url;
            }
        }

    </script>
}