@model InternetPhotoAlbum.MVC.Models.CreateImageViewModel

<div class="modal-content">

    <div class="modal-header">
        <h4 class="modal-title">Edit image</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    @using (Html.BeginForm("Edit", "Images", new { area = "" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)

            <div class="col-6 mx-auto">
                <div class="form-floating mb-3 mt-3">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter title" } })
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>

                <div class="form-floating mb-3 mt-3">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter description" } })
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>

                <div class="form-floating mb-3 mt-3">
                    <input type="file" id="File" name="File" class="form-control" />
                    <label for="File" class="ms-2">File</label>
                </div>
            </div>

            <input type="hidden" id="AlbumId" name="AlbumId" value="@((int)ViewData["AlbumId"])" />
        </div>

        <div class="modal-footer col-3 mx-auto">
            <input type="submit" value="Edit image" class="btn btn-info text-light" />
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
