@model IEnumerable<InternetPhotoAlbum.MVC.Models.IndexImageViewModel>

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

@if ((bool)ViewData["IsHavePermission"])
{
    <p>
        @Html.ActionLink("Add image", "Create", new { area = "", albumId = (int)ViewData["AlbumId"] }, new { id = "createDialLink" })
    </p>

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
}

<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model)
        {
            <div class="card col my-2">
                <img class="card-img-top col-12" src="data:image/jpeg;base64,@item.File" alt="@item.Title">
                <div class="card-body">
                    <h4 class="card-title text-center">@Html.ActionLink(item.Title, "Details", new { id = item.Id })</h4>
                    <p class="card-text">@item.Description</p>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ajax")

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $("#createDialLink").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });

        function OnSuccess(result) {
            if (result.url) {
                window.location.href = result.url;
            }
        }

    </script>
}
